.app {
  background-color: #FAF9F6;
  padding: 20px;
}

.view-switcher .view-icon {
  width: 40px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
}

.view-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FAF9F6;
  padding: 10px; 
  padding-top: 40px;
}

.filter-section {
  margin: 20px 0;
}

.filter-section h2 {
  margin-bottom: 10px;
}

.filter-section label {
  display: block;
  margin-bottom: 5px;
}

.filter-section button {
  margin-top: 10px;
}


.footer {
  background-color: #FAF9F6;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}