.category-outfit {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .outfit-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 33%;
  }
  
  .arrow-button img {
    width: 30px;
    height: auto;
  }
  
  .left-arrow {
    left: 0;
  }

  