.category-outfit {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 60px;
  }
  
  .outfit-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 48%;
  }
  
  .arrow-button img {
    width: 40px;
    height: auto;
  }
  
  .left-arrow {
    left: 0;
    padding-left: 23%;
  }

  .hidden-heading {
    visibility: hidden;
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  